.ExpenseItem-date{
    height:12vh;
    width: 8vw;
    background-color: rgb(5, 28, 41);
    align-items: center;
    border: 2px aqua solid ;
    color: white;
    text-align: center;
    text-size-adjust: none;
    text-size-adjust: auto;
    
}

.ExpenseItem-date__month{
    font-size: 1vw;
    font-weight: bold;
    font-size-adjust: 0.58;
}
.ExpenseItem-date__day{
    font-size: 2vw;
    font-weight: bold;
    font-size-adjust: 0.58;
}