*{
    margin: 0%;
    padding: 0%;
}

.box1{
    min-height: 100vh;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.575);
    position: absolute;
    right: 0%;
}
    
    


.label{
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 2vw;
}

.input {
    display: block;
    height:5vh;
    width: 15vw;
    border-radius: 10px;
    
    margin-left: 2vw;
} 