*{
    margin: 0%;
    padding: 0%;
}

.box1{
    min-height: 100vh;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.575);
    position: absolute;
    right: 0%;
    display: flex;
    justify-content: center;
}

.container1 img{
    height: 35vh;
    width: 50vw;
    object-fit: fill;
    

}

.container{
    position: absolute;
    top: 40%;
}

.box2{
    display: flex;

}

.box3{
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
    
}
    
    


.label{
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 2vw;
    color: black;
    position: relative;
    left: 5%;

}

.input {
    display: block;
    height:5vh;
    width: 15vw;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 2vw;
    font-size: 2.5vh;
    padding-left: 4%;
} 

.input:focus{
    outline: none;
    border: 2px solid rgb(123, 7, 255);
}

.input-email{
    display: block;
    height:5vh;
    width: 15vw;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 2vw;
    font-size: 2.5vh;
    padding-left: 2%;

}


.label-email{
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 2vw;
    color: black;
    position: relative;
    left: 2%;

}

.input-email:focus{
    outline: none;
    border: 2px solid rgb(123, 7, 255);

}

.input-email::-webkit-outer-spin-button,
.input-email::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.input-email[type=number]{
    -moz-appearance: textfield;

}






.signUP{
    position: absolute;
    top: 65%;
}

.signUP button{
    height: 6vh;
    width: 15vw;
    border: 2px solid rgba(0, 0, 0, 0.329);
    border-radius: 20px;
    background-color: crimson;
    color: white;
    font-weight: bold;
    margin-top:5% ;
    
}


.signUP button:hover{
    cursor: pointer;
    background-color: teal;
}

.signUP button:disabled,
button:disabled:hover,
button:disabled:active{
    background-color:#ccc ;
    cursor: not-allowed;
    border-color:#ccc ;
    color: black;
}

p{
    font-size: 10px;
    margin-left: 15%;
    color: red;
}
